<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form>
  <div>
    <input placeholder="Given name" ng-model="ct.name.first"> 
    <input placeholder="Family name" ng-model="ct.name.last">
  </div>
  <div>
    <input placeholder="username" ng-model="ct.username">
    <input placeholder="email" ng-model="ct.email">
  </div>
  <div>
    <input placeholder="company" ng-model="ct.company">
    <input placeholder="avatar" ng-model="ct.avatar">
  </div>
  <div>
    <input placeholder="street address" ng-model="ct.address.streetAddress">
    <input placeholder="Houston" ng-model="ct.address.city">
    <input placeholder="NY" ng-model="ct.address.state">
    <input placeholder="90210" ng-model="ct.address.zipCode">
  </div>
  <div>
    <input placeholder="212 555 1212" ng-model="ct.phone">
    <textarea ng-model="ct.bio" placeholder="biography"></textarea>
  </div>

</form>

</body>
</html>


<!--
/*
{
id: 1,
name: {
first: "Julianne",
last: "Rippin"
},
email: "Merl_Zemlak28@yahoo.com",
username: "Walter.Yundt14",
avatar: "https://s3.amazonaws.com/uifaces/faces/twitter/strikewan/128.jpg",
company: "Hoppe, Swaniawski and Kunze",
address: {
streetAddress: "29507 Mohr Lock",
city: "Robert borough",
state: "Tennessee",
zipCode: "65196"
},
phone: "1-348-697-7633 x94659",
bio: "Beatae laboriosam non rem. Adipisci ea est illo libero ratione tempore inventore quia quos. Ratione quia adipisci et vel tenetur aspernatur ea."
},
*/
-->